@use "@/assets/scss/variables" as *;

// Primary Buttons
.btn-primary:not(:disabled):hover {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
}

.btn-primary:not(:disabled):active {
  background-color: var(--bs-primary-active);
  border-color: var(--bs-primary-active);
}

// Secondary Buttons
.btn-secondary:not(:disabled):hover {
  background-color: var(--bs-secondary-hover);
  border-color: var(--bs-secondary-hover);
}

.btn-secondary:not(:disabled):active {
  background-color: var(--bs-secondary-active);
  border-color: var(--bs-secondary-active);
}

// Outline Primary Buttons
.btn-outline-primary:not(:disabled):hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:not(:disabled):active {
  background-color: var(--bs-primary-active);
  border-color: var(--bs-primary-active);
}

// Danger Buttons
.btn-danger:not(:disabled):hover {
  background-color: var(--bs-danger-hover);
  border-color: var(--bs-danger-hover);
}

.btn-danger:not(:disabled):active {
  background-color: var(--bs-danger-active);
  border-color: var(--bs-danger-active);
}

// Link Buttons
.btn-link {
  text-decoration: none;
  padding: 0;
  min-width: auto;
}

.btn-link:not(:disabled):hover {
  text-decoration: underline;
}

.btn-link:not(:disabled):active {
  text-decoration: underline;
}
