@use "@/assets/scss/variables.scss" as *;

// ---------------------------
// Form Styles
// ---------------------------

.form {
  margin-bottom: map-get($spacers, 2);
}

.formGroup {
  margin-bottom: map-get($spacers, 2);
}

.formLabel {
  display: inline-block;
  margin-bottom: map-get($spacers, 1);
  font-weight: map-get($font-weights, medium);
  color: $body-color;
}

.formText {
  margin-top: map-get($spacers, 0.5);
  font-size: map-get($font-sizes, sm);
  color: $secondary;
}

.formControl {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: map-get($font-sizes, md);
  font-weight: map-get($font-weights, normal);
  line-height: 1.5;
  color: $body-color;
  background-color: $body-bg;
  border: 1px solid $border-color;
  border-radius: map-get($border-radii, sm);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: $body-color;
    background-color: $body-bg;
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &:disabled {
    background-color: map-get($theme-colors, light);
    opacity: 1;
  }
}

.formSelect {
  @extend .formControl;
  padding-right: 2.25rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.formCheck {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.formCheckInput {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  margin-left: -1.5rem;
  background-color: $body-bg;
  border: 1px solid $border-color;
  appearance: none;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.formCheckLabel {
  color: $body-color;
  cursor: pointer;
  user-select: none;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: map-get($spacers, 2);
}

.horizontalLabel {
  margin-bottom: 0;
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
}

.horizontalControl {
  flex: 1;
}

.invalid {
  border-color: $danger;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.valid {
  border-color: $success;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalidFeedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: map-get($font-sizes, sm);
  color: $danger;
}

.validFeedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: map-get($font-sizes, sm);
  color: $success;
}

.wasValidated {
  .formControl {
    &:invalid {
      @extend .invalid;
    }
    &:valid {
      @extend .valid;
    }
  }
  .invalidFeedback {
    display: block;
  }
  .validFeedback {
    display: block;
  }
}
