.select {
  border-radius: var(--bs-border-radius) !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
  
  &:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  }
  
  &:disabled {
    background-color: var(--bs-gray-200);
    opacity: 0.65;
  }
} 