@use "@/assets/scss/variables" as *;

.dropdown {
  position: relative;
  display: inline-block;

  &.block {
    display: block;
    width: 100%;
  }
}

.dropdownToggle {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  font-size: map-get($font-sizes, md);
  font-weight: map-get($font-weights, normal);
  line-height: 1.5;
  color: $body-color;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: $light;
  border: 1px solid $border-color;
  border-radius: map-get($border-radii, md);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $primary;
    background-color: $gray-100;
  }

  &:focus {
    color: $primary;
    background-color: $gray-100;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    outline: none;
  }

  &:active {
    color: $primary;
    background-color: $gray-200;
  }

  &:disabled {
    color: $gray-500;
    pointer-events: none;
    background-color: $light;
    border-color: $border-color;
  }
}

.dropdownMenu {
  position: absolute;
  z-index: map-get($zindex, dropdown);
  display: none;
  min-width: 10rem;
  padding: map-get($spacers, 2) 0;
  margin: 0;
  font-size: map-get($font-sizes, md);
  color: $body-color;
  list-style: none;
  background-color: $light;
  border: 1px solid $border-color;
  border-radius: map-get($border-radii, md);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  &.show {
    display: block;
  }
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  font-weight: map-get($font-weights, normal);
  color: $body-color;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    color: $primary;
    background-color: $gray-100;
  }

  &:active {
    color: $primary;
    background-color: $gray-200;
  }

  &:disabled {
    color: $gray-500;
    pointer-events: none;
  }
}

.dropdownDivider {
  height: 0;
  margin: map-get($spacers, 2) 0;
  overflow: hidden;
  border-top: 1px solid $border-color;
}

.dropdownHeader {
  display: block;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  margin-bottom: 0;
  font-size: map-get($font-sizes, sm);
  color: $body-color;
  white-space: nowrap;
}

.dropdownText {
  display: block;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  color: $body-color;
}

.noMenuIcon {
  display: inline-flex;
  align-items: center;
  gap: map-get($spacers, 1);
}
