@use "./variables" as *;
button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.collapsed-sidebar + .main-content {
  .dashboard-container {
    max-width: calc(100vw - $sidebar-collapsed-width);
  }
}

form {
  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    background-image: none;
  }
}
