@use "./variables" as *;
button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.dashboard-container {
  padding: 2rem;
  max-width: calc(100% - $sidebar-width);
  margin-left: auto;
}

.collapsed-sidebar + .main-content {
  .dashboard-container {
    max-width: calc(100% - $sidebar-collapsed-width);
  }
}

.form-control,
.form-select {
  height: 50px;
  &:focus {
    box-shadow: none;
  }
}

textarea.form-control {
  height: auto;
}

.btn {
  padding: 12px;
}

form {
  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    background-image: none;
  }
}

.table {
  tr {
    th,
    td {
      border: 0;
      padding: 10px 16px;
    }
    th {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        td {
          background-color: var(--light-gray);
        }
      }
      td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.pagination-table-bottom {
  display: flex;
  justify-content: end;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  border-top: 1px solid;
  border-color: var(--border);
  .form-control {
    padding: 6px;
    max-width: 60px;
    width: 100%;
    height: 40px;
  }
  .btn {
    min-width: 40px;
    height: 40px;
    width: 40px;
  }
}

.dark {
  body {
    background: var(--bg-dark);
    color: var(--accent-foreground);
  }
  .table {
    background-color: var(--surface-dark);
    th,
    td {
      background-color: var(--surface-dark);
      color: var(--accent-foreground);
    }
    tbody {
      tr:nth-of-type(odd) {
        td {
          background-color: var(--light-gray);
        }
      }
    }
  }
  .modal-content {
    background-color: var(--surface-dark);
    color: var(--accent-foreground);
  }
  .modal-header {
    border-color: var(--border);
    .btn-close {
      --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
    }
  }
  .modal-title {
    color: var(--accent-foreground);
  }
  .form-select {
    background-color: var(--surface-dark);
    border-color: var(--border);
    color: var(--accent-foreground);
  }
  .form-control {
    background-color: var(--surface-dark);
    border-color: var(--border);
    color: var(--accent-foreground);
  }
}
.custom-card {
    background-color: var(--surface-dark);
    border: 0;
    border-radius: 10px;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    position: relative;
    box-shadow: -4px -4px 19px #4444440d;
    padding: 30px;
    border: 1px solid var(--border);
}
.min-vh-100vh-260 {
  min-height: calc(100vh - 260px);
}
