// Flexbox mixins
@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-between($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
  gap: $gap;
}

@mixin flex-start($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: start;
  gap: $gap;
}

@mixin flex-end($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: end;
  gap: $gap;
}

// Size mixin
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
