.modal {
  .modalHeader {
    border-bottom: 1px solid var(--bs-border-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modalTitle {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--bs-body-color);
    }

    .closeButton {
      padding: 0.5rem;
      margin: -0.5rem -0.5rem -0.5rem auto;
      background: transparent;
      border: 0;
      color: var(--bs-secondary-color);
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--bs-body-color);
      }
    }
  }

  .modalBody {
    padding: 1rem;
  }

  .modalFooter {
    border-top: 1px solid var(--bs-border-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
} 