@use "@/assets/scss/variables" as *;

.modal {
  .modalHeader {
    border-bottom: 1px solid $border-color;
    padding: map-get($spacers, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modalTitle {
      margin: 0;
      font-size: map-get($font-sizes, lg);
      font-weight: map-get($font-weights, medium);
      color: $body-color;
    }

    .closeButton {
      padding: map-get($spacers, 2);
      margin: calc(-1 * map-get($spacers, 2)) calc(-1 * map-get($spacers, 2))
        calc(-1 * map-get($spacers, 2)) auto;
      background: transparent;
      border: 0;
      color: $secondary;
      cursor: pointer;
      transition: color map-get($transitions, fast) ease-in-out;

      &:hover {
        color: $body-color;
      }
    }
  }

  .modalBody {
    padding: map-get($spacers, 3);
  }

  .modalFooter {
    border-top: 1px solid $border-color;
    padding: map-get($spacers, 3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: map-get($spacers, 2);
  }
}
