@use "@/assets/scss/variables" as *;

.divider {
  padding: 0;
  margin: var(--bs-spacer, 1rem) 0;
  border: 0;

  &.noMargin {
    margin: 0;
  }

  &.primary {
    border-color: var(--bs-primary);
  }
  &.secondary {
    border-color: var(--bs-secondary);
  }
  &.success {
    border-color: var(--bs-success);
  }
  &.danger {
    border-color: var(--bs-danger);
  }
  &.warning {
    border-color: var(--bs-warning);
  }
  &.info {
    border-color: var(--bs-info);
  }
  &.light {
    border-color: var(--bs-light);
  }
  &.dark {
    border-color: var(--bs-dark);
  }

  &.small {
    border-width: 1px;
  }
  &.medium {
    border-width: 2px;
  }
  &.large {
    border-width: 3px;
  }

  &.solid {
    border-style: solid;
  }
  &.dashed {
    border-style: dashed;
  }
  &.dotted {
    border-style: dotted;
  }

  &.horizontal {
    border-top-width: 1px;
    width: 100%;
  }

  &.vertical {
    border-left-width: 1px;
    height: 100%;
    display: inline-block;
  }

  &.withText {
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: currentColor;
    }

    &::before {
      margin-right: 0.5rem;
    }
    &::after {
      margin-left: 0.5rem;
    }
  }

  &.primaryText {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  &.secondaryText {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }
  &.successText {
    color: var(--bs-success);
    border-color: var(--bs-success);
  }
  &.dangerText {
    color: var(--bs-danger);
    border-color: var(--bs-danger);
  }
  &.warningText {
    color: var(--bs-warning);
    border-color: var(--bs-warning);
  }
  &.infoText {
    color: var(--bs-info);
    border-color: var(--bs-info);
  }
  &.lightText {
    color: var(--bs-light);
    border-color: var(--bs-light);
  }
  &.darkText {
    color: var(--bs-dark);
    border-color: var(--bs-dark);
  }
  &.grayText {
    color: var(--bs-gray-700);
    border-color: var(--bs-gray-700);
  }
}

.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid var(--bs-border-color);
  opacity: 1;
}

// Variants
.primary .hr {
  border-color: var(--bs-primary);
}
.secondary .hr {
  border-color: var(--bs-secondary);
}
.success .hr {
  border-color: var(--bs-success);
}
.danger .hr {
  border-color: var(--bs-danger);
}
.warning .hr {
  border-color: var(--bs-warning);
}
.info .hr {
  border-color: var(--bs-info);
}
.light .hr {
  border-color: var(--bs-light);
}
.dark .hr {
  border-color: var(--bs-dark);
}

.vertical {
  composes: divider;
  height: 100%;
  width: 1px;
  margin: 0 var(--bs-spacer, 1rem);
}

.solid {
  border-top: 1px solid currentColor;
}
.dashed {
  border-top: 1px dashed currentColor;
}
.dotted {
  border-top: 1px dotted currentColor;
}
