.faq-accordion-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
}

.faq-accordion-item {
  border-radius: 8px;
  background: var(--background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  border: none;
  overflow: hidden;
  position: relative;
  min-width: none;
  border: 1px solid var(--border)
}

.faq-accordion-item.open {
  background: var(--secondary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--border);
}

.faq-accordion-item.highlight {
  border: 1px solid var(--border);
}

.faq-accordion-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--card-title);
  color: var(--color-title-light);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 24px;
  cursor: pointer;
  &.active {
    background: var(--border);
    color: var(--ring);
  }
  .faq-accordion-icon {
    font-size: 1.25rem;
  }
}


.faq-accordion-desc {
  padding: 1.5rem 1.5rem;
  color: var(--color-description-light);
  line-height: 1.6;
}

@media (max-width: 600px) {
  .faq-accordion-title,
  .faq-accordion-desc {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
