.drawer {
  :global {
    .offcanvas {
      &-header {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--bs-border-color);
      }

      &-body {
        padding: 1rem;
      }
    }
  }
} 