.switchLabel {
  font-weight: 600;
  margin-right: 0.5rem;
}

.switchButtonWrapper {
  display: inline-flex;
  background: #f5f6fa;
  border: 1px solid #bfc9d9;
  border-radius: 8px;
  overflow: hidden;
  padding: 6px;
}

.switchBtn {
  border: none;
  background: transparent;
  color: #15395a;
  font-weight: 600;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;
  &:hover {
    background: transparent;
    color: #0a3d62;
  }
}

.active {
  background: #0a3d62;
  color: #fff;
  &:hover, &:focus  {
    background: #0a3d62;
    color: #fff;
  }
}
