.faq-accordion-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
}

.faq-accordion-item {
  border-radius: map-get($border-radii, lg);
  background: var(--bs-light);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  border: 1px solid var(--bs-border-color);
  overflow: hidden;
  position: relative;
}

.faq-accordion-item.open {
  background: var(--bs-secondary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--bs-border-color);
}

.faq-accordion-item.highlight {
  border: 1px solid var(--bs-border-color);
}

.faq-accordion-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bs-light);
  color: var(--bs-body-color);
  border: none;
  outline: none;
  font-size: map-get($font-sizes, md);
  font-weight: map-get($font-weights, medium);
  padding: map-get($spacers, 2) map-get($spacers, 3);
  cursor: pointer;

  &.active {
    background: var(--bs-border-color);
    color: var(--bs-primary);
  }

  .faq-accordion-icon {
    font-size: 1.25rem;
  }
}

.faq-accordion-desc {
  padding: map-get($spacers, 3);
  color: var(--bs-body-color);
  line-height: 1.6;
}

@media (max-width: 600px) {
  .faq-accordion-title,
  .faq-accordion-desc {
    padding-left: map-get($spacers, 2);
    padding-right: map-get($spacers, 2);
  }
}
