@use '../../../../assets/scss/variables' as *;

.collapse {
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  background-color: $white;

  :global {
    .ant-collapse-item {
      border-bottom: 1px solid $gray-300;

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 $border-radius $border-radius;
      }

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }
    }

    .ant-collapse-header {
      padding: $spacer;
      background-color: $gray-100;
      border: none;
      font-weight: $font-weight-normal;

      &:hover {
        background-color: $gray-200;
      }
    }

    .ant-collapse-content {
      border-top: 1px solid $gray-300;
      background-color: $white;
    }

    .ant-collapse-content-box {
      padding: $spacer;
    }
  }
}

.panel {
  border: none;
  margin-bottom: 0.5rem;
}

.header {
  font-weight: 500;
}

.body {
  padding: 1rem;
} 