@use "@/assets/scss/variables" as *;

.table {
  width: 100%;
  margin-bottom: map-get($spacers, 3);
  color: $body-color;
  background-color: $body-bg;
  border-radius: map-get($border-radii, sm);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;

  th,
  td {
    padding: map-get($spacers, 3);
    vertical-align: middle;
    border-top: 1px solid $border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
    background-color: map-get($theme-colors, light);
    color: $body-color;
    font-weight: map-get($font-weights, semibold);
  }

  tbody tr {
    transition: background-color 0.15s ease-in-out;
  }

  tbody tr:hover {
    background-color: map-get($grays, 100);
  }

  &.table-bordered {
    border: 1px solid $border-color;

    th,
    td {
      border: 1px solid $border-color;
    }
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: map-get($grays, 50);
  }

  &.table-hover tbody tr:hover {
    background-color: map-get($grays, 100);
  }

  &.table-sm {
    th,
    td {
      padding: map-get($spacers, 1);
    }
  }
}
